.footer {
    background-color: #01257d;
    color: #fff;
    padding: 3em;
    text-align: center;
}


.adress {
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #f8e9d4;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
    transition: .5s;
}

.social_list li:hover {
    color: #F3DDBE;
}

.social_list li a {
    text-decoration: none;
    color: inherit;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #F3DDBE;
}

.listStyle {
    display: flex;
    justify-content: space-around;
}

.linkMaps {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linkAdress {
    text-align: center;
}

#ifr {
    transition: .5s;
}

iframe {
    width: 400px;
    height: 250px;
}
