.navbar {
    background-color: #F3DDBE;
    padding-left: 1em;
    padding-right: 1em;
}

.ajust_navbar {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #F3DDBE;
    padding: .5em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 2em;
    font-size: .8rem;
}

.item a {
    color: #477398;
    text-decoration: none;
}

.item a:hover {
    color: #153754;
    border-bottom: 2px solid #477398;
}

