* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f8e9d4;
    /* padding-left: 1em; */
    /* padding-right: 1em; */
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width:  100vw;
}

.ajust_navbar {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #f8e9d4;
    padding: .5em;
}

.list {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.item {
    font-size: 1.5rem;
    padding: 10px;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

.item a {
    padding: 10px 20px;
    color: #01257d;
    text-decoration: none;
    transition: 0.5s;
}

.item a:hover {
    color: #F3DDBE;
    background-color: #01257d;

}






