.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .6em;
    font-weight: bold;
    color: #477498;
}

.form_control select {
    padding: .7em;
    border-radius: 10px;
    border: none;
    color: #477498;
    background-color: white;

}


