.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    height: 50px;
    width: 100%;
    background-color: #477398;
    color: #F3DDBE;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    border-radius: 25px;

}

.btn:hover {
    color: #477398;
    background-color: #F3DDBE;
}