.newproject_container h1 {
    color: #477398;
}


.newproject_container {
    width: 700px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container h1 {
    margin-bottom: 0.5em;
}

.newproject_container p {
    color: #477398;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

