.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home_container h1.title {
    font-size: 3em;
    margin-bottom: .5em;
    color: #01257d;
}



.home_container h2.textIn {
    width: 50%;
    margin: 1.5em;
    font-size: 2em;
    color: #01257d;
    text-align: center;
}

div.content p {
    margin-bottom: 20px;
    font-size: 1.4em;
    max-width: 1000px;
    text-align: center;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
}

div.video{
    width: 100vw;
    height: 100vh;    
}

video {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: cover;
}

div.content {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rates {
    margin: 50px;
}

.bgRates {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f8e9d4;
}